In [68]:
# Machine Learning with Python using Linear Regression and Decison Tree
# Import necessary libraries
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.preprocessing import StandardScaler

In [69]:
#data path 
df = pd.read_csv('data_ml.csv', parse_dates=['date'])

In [70]:
df.head()

,stock_id,date,Advt_12M_Usd,Advt_3M_Usd,Advt_6M_Usd,Asset_Turnover,Bb_Yld,Bv,Capex_Ps_Cf,Capex_Sales,...,Total_Capital,Total_Debt,Total_Debt_Capital,Total_Liabilities_Total_Assets,Vol1Y_Usd,Vol3Y_Usd,R1M_Usd,R3M_Usd,R6M_Usd,R12M_Usd
0,13,2006-12-31,0.25,0.33,0.27,0.22,0.33,0.01,0.13,0.84,...,0.02,0.27,1.0,0.92,0.84,0.88,0.089,0.104,0.344,-0.041
1,13,2007-01-31,0.25,0.32,0.28,0.22,0.40,0.01,0.13,0.84,...,0.02,0.27,1.0,0.92,0.84,0.88,0.039,0.091,-0.011,-0.253
2,13,2007-02-28,0.26,0.30,0.30,0.22,0.15,0.01,0.13,0.84,...,0.02,0.27,1.0,0.92,0.87,0.88,-0.012,0.101,0.118,-0.366
3,17,2015-03-31,0.73,0.64,0.70,0.40,0.47,0.01,0.70,0.74,...,0.40,0.75,1.0,1.00,1.00,0.99,0.174,-0.144,-0.518,-0.376
4,17,2015-04-30,0.72,0.62,0.66,0.40,0.46,0.01,0.70,0.74,...,0.40,0.75,1.0,1.00,1.00,0.99,-0.106,-0.576,-0.535,-0.113

In [71]:
df['date']=pd.to_datetime(df['date'])
df.sort_values(by='date')

,stock_id,date,Advt_12M_Usd,Advt_3M_Usd,Advt_6M_Usd,Asset_Turnover,Bb_Yld,Bv,Capex_Ps_Cf,Capex_Sales,...,Total_Capital,Total_Debt,Total_Debt_Capital,Total_Liabilities_Total_Assets,Vol1Y_Usd,Vol3Y_Usd,R1M_Usd,R3M_Usd,R6M_Usd,R12M_Usd
141020,191,1998-11-30,0.23,0.15,0.19,0.50,0.08,0.50,0.49,0.12,...,0.50,0.50,0.50,0.50,0.43,0.43,0.011,-0.207,-0.107,-0.270
177501,124,1998-11-30,0.78,0.64,0.71,0.36,0.07,0.63,0.82,0.91,...,0.60,0.56,0.48,0.33,0.87,0.87,0.043,0.015,0.351,3.011
282470,950,1998-11-30,1.00,1.00,1.00,0.14,0.35,1.00,0.50,0.50,...,1.00,1.00,0.98,0.97,0.64,0.64,-0.011,0.115,0.326,0.085
148895,1171,1998-11-30,0.86,0.87,0.85,0.53,0.03,0.52,0.63,0.80,...,0.39,0.17,0.13,0.03,0.92,0.92,0.492,0.245,0.830,0.662
67282,514,1998-11-30,0.11,0.09,0.09,0.18,0.49,0.24,0.22,0.10,...,0.17,0.07,0.08,0.52,0.70,0.70,3.077,5.080,5.212,3.635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22625,1117,2019-03-31,0.05,0.04,0.05,0.86,0.34,0.08,0.27,0.49,...,0.03,0.08,0.08,0.23,0.64,0.71,0.017,0.000,0.000,0.000
92897,378,2019-03-31,0.33,0.38,0.36,0.64,0.22,0.33,0.56,0.43,...,0.24,0.21,0.23,0.15,0.76,0.75,0.010,0.000,0.000,0.000
154238,1040,2019-03-31,0.22,0.24,0.24,0.08,0.66,0.54,0.20,0.49,...,0.47,0.44,0.41,0.79,0.23,0.46,0.090,0.000,0.000,0.000
78994,579,2019-03-31,0.14,0.22,0.18,0.40,0.92,0.28,0.54,0.88,...,0.15,0.11,0.10,0.03,0.74,0.76,-0.012,0.000,0.000,0.000
5046,837,2019-03-31,0.05,0.04,0.04,0.73,0.15,0.02,0.41,0.05,...,0.21,0.51,0.99,0.99,0.96,0.96,0.387,0.000,0.000,0.000

In [49]:
#splitting data into two parts for Test and Train to test our model 

split_date = pd.to_datetime('01/01/2015')
df_train = df.loc[df['date'] <= split_date]
df_test = df.loc[df['date'] > split_date]
df_train

,stock_id,date,Advt_12M_Usd,Advt_3M_Usd,Advt_6M_Usd,Asset_Turnover,Bb_Yld,Bv,Capex_Ps_Cf,Capex_Sales,...,Total_Capital,Total_Debt,Total_Debt_Capital,Total_Liabilities_Total_Assets,Vol1Y_Usd,Vol3Y_Usd,R1M_Usd,R3M_Usd,R6M_Usd,R12M_Usd
0,13,2006-12-31,0.25,0.33,0.27,0.22,0.33,0.01,0.13,0.84,...,0.02,0.27,1.00,0.92,0.84,0.88,0.089,0.104,0.344,-0.041
1,13,2007-01-31,0.25,0.32,0.28,0.22,0.40,0.01,0.13,0.84,...,0.02,0.27,1.00,0.92,0.84,0.88,0.039,0.091,-0.011,-0.253
2,13,2007-02-28,0.26,0.30,0.30,0.22,0.15,0.01,0.13,0.84,...,0.02,0.27,1.00,0.92,0.87,0.88,-0.012,0.101,0.118,-0.366
30,29,2002-09-30,0.43,0.18,0.28,0.29,0.78,0.01,0.30,0.86,...,0.16,0.49,1.00,1.00,0.99,0.97,0.169,1.084,0.699,4.169
31,29,2002-10-31,0.41,0.18,0.23,0.29,0.58,0.01,0.30,0.86,...,0.16,0.49,1.00,1.00,0.99,0.97,1.239,0.371,1.630,7.144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283375,1205,2004-05-31,0.97,0.97,0.98,0.19,0.74,1.00,0.54,0.90,...,0.99,0.99,0.57,0.59,0.34,0.63,-0.029,-0.027,0.038,0.112
283376,1205,2004-07-31,0.97,0.96,0.98,0.19,0.75,1.00,0.53,0.90,...,0.99,0.99,0.58,0.60,0.29,0.64,0.028,0.077,0.175,0.122
283377,1205,2004-08-31,0.97,0.96,0.97,0.19,0.75,1.00,0.53,0.90,...,0.99,0.99,0.58,0.60,0.27,0.64,0.011,0.076,0.152,0.091
283378,1205,2004-09-30,0.97,0.96,0.97,0.18,0.93,1.00,0.52,0.90,...,0.99,0.99,0.57,0.60,0.26,0.66,0.045,0.178,0.196,0.040
283379,292,2000-04-30,0.41,0.63,0.52,0.60,0.86,0.50,0.37,0.37,...,0.06,0.18,0.28,0.18,0.97,0.96,-0.356,-0.195,-0.148,-0.544

In [72]:
df_test

,stock_id,date,Advt_12M_Usd,Advt_3M_Usd,Advt_6M_Usd,Asset_Turnover,Bb_Yld,Bv,Capex_Ps_Cf,Capex_Sales,...,Ta,Tev_Less_Mktcap,Tot_Debt_Rev,Total_Capital,Total_Debt,Total_Debt_Capital,Total_Liabilities_Total_Assets,Vol1Y_Usd,Vol3Y_Usd,R1M_Usd
3,17,2015-03-31,0.73,0.64,0.70,0.40,0.47,0.01,0.70,0.74,...,0.42,0.81,0.69,0.40,0.75,1.00,1.00,1.00,0.99,0.174
4,17,2015-04-30,0.72,0.62,0.66,0.40,0.46,0.01,0.70,0.74,...,0.42,0.80,0.69,0.40,0.75,1.00,1.00,1.00,0.99,-0.106
5,17,2015-05-31,0.71,0.63,0.64,0.40,0.47,0.01,0.70,0.74,...,0.42,0.81,0.69,0.40,0.75,1.00,1.00,1.00,0.99,-0.185
6,17,2015-06-30,0.70,0.62,0.63,0.38,0.43,0.01,0.53,0.66,...,0.39,0.79,0.69,0.25,0.74,1.00,1.00,1.00,0.99,-0.418
7,17,2015-07-31,0.68,0.56,0.60,0.38,0.45,0.01,0.53,0.66,...,0.39,0.80,0.69,0.25,0.74,1.00,1.00,1.00,0.99,0.575
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283364,1158,2018-09-30,0.99,0.99,0.99,0.09,0.78,1.00,0.03,0.03,...,1.00,1.00,0.93,1.00,1.00,0.79,0.89,0.45,0.26,0.013
283365,1158,2018-10-31,0.99,0.99,0.99,0.09,0.76,1.00,0.03,0.03,...,1.00,1.00,0.93,1.00,1.00,0.79,0.89,0.40,0.26,0.039
283366,1158,2018-11-30,0.99,0.99,0.99,0.09,0.77,1.00,0.03,0.03,...,1.00,1.00,0.93,1.00,1.00,0.79,0.89,0.37,0.25,-0.151
283367,1158,2018-12-31,0.99,0.99,0.99,0.09,0.97,1.00,0.03,0.03,...,1.00,1.00,0.93,1.00,1.00,0.81,0.91,0.38,0.26,0.071
283368,1158,2019-01-31,0.99,0.99,0.99,0.09,0.98,1.00,0.03,0.03,...,1.00,1.00,0.93,1.00,1.00,0.81,0.91,0.37,0.26,0.011

In [50]:
df_train=df_train.drop(columns=["R3M_Usd","R6M_Usd","R12M_Usd"])
df_test=df_test.drop(columns=["R3M_Usd","R6M_Usd","R12M_Usd"])

In [51]:
predictors1 = df_train.drop(columns=["date"])
predictors2 = df_test.drop(columns=["date"])

In [52]:
y_train = predictors1["R1M_Usd"]
y_test = predictors2["R1M_Usd"]
predictors_train= predictors1.drop(columns=["R1M_Usd"])
predictors_test= predictors2.drop(columns=["R1M_Usd"])

In [53]:
import sklearn.preprocessing as sk
scaler = sk.StandardScaler()
predictors_train = scaler.fit_transform(predictors_train)
predictors_test = scaler.fit_transform(predictors_test)

In [54]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [55]:
lr.fit(predictors_train,y_train)

LinearRegression()

In [56]:
y_prediction = lr.predict(predictors_test)

In [57]:
y_prediction2 = lr.predict(predictors_train)

In [58]:
from sklearn.metrics import mean_squared_error, r2_score

In [59]:
#this is the test MSE
mean_squared_error(y_test, y_prediction)

0.047013524936068384

In [60]:
#this is the train MSE
mean_squared_error(y_train, y_prediction2)

0.02751907836364312

In [61]:
#this is the test r2
r2_score(y_test, y_prediction)

-0.0007165889535609704

In [62]:
#this is the train r2
r2_score(y_train, y_prediction2)

0.006455321481107612

In [67]:
scaler = StandardScaler()
Train = scaler.fit_transform(df_train)
Test = scaler.transform(df_test)

Test

TypeError: The DTypes <class 'numpy.dtype[datetime64]'> and <class 'numpy.dtype[int64]'> do not have a common DType. For example they cannot be stored in a single array unless the dtype is `object`.

In [19]:
#create decision tree
from sklearn.tree import DecisionTreeRegressor
reg = DecisionTreeRegressor()
reg = reg.fit(predictors_train,y_train)

In [20]:
y_prediction_tree = reg.predict(predictors_test)

In [21]:
y_prediction_tree = reg.predict(predictors_train)

In [64]:
import pydotplus 
from IPython.display import Image